body {
    font-family: 'Georgia', sans-serif;
    /* background-color: #f4f4f4; */
    background-color: #070707;
    margin: 0;
    padding: 20px;
    /* color: #333; */
    color: #75627c;
    line-height: 1.6;
    background-image: url("images/background.png");
    background-size:auto;
    
}

h1 {
    /* color: #333; */
    color: #93afb0;
    text-shadow: 2px 2px 5px #070707;
    font-family: "Lucida Sans Typewriter"
}

p {
    font-size: 1.1em;
    text-shadow: 2px 2px 5px #070707;
}
h4 {
    /* font-size: 1.1em; */
    font-style: italic;
    line-height: 1.6;
   
}

/* Button Styling (if you add a button) */
button {
    font-family: 'Georgia', sans-serif;
    font-style: oblique;
    font-weight: bold;
    background-color: #75627c;
    color: #e0cff3;
    padding: 10px 20px;
    /* border: none; */
    cursor: pointer;
    display: inline-block;
    margin: 10px auto; /* Center the button horizontally */
    width: auto; /* Adjust the width as needed */
    text-align: center;
    border-radius: 20px;
}

.button-container{
    text-align: center;
    border-radius: 20px;
}

button:hover {
    background-color: #67506f;
    color: #d5c0ec
}

/* Question Display Styling */
.question {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

.answer {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #67506f;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

/* Responsive Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* .background-image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    /* display: inline-block; */
    /* float:left;
  } */


.flex-container {
    display: flex;
    justify-content: space-between; /* Align items to each side */
    align-items: center; /* Align items vertically */
}

.left-image, .right-image {
    /* Remove float and adjust width as needed */
    width: 150px; /* Example width, adjust as needed */
    /* Other styles remain the same */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}
