<!DOCTYPE html>
<html>
    <head>
        <title>Non-Technical Questions</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Ready To Quiz Yourself? </h1>
            <p>Welcome to the Non-Technical Interview Prep Quiz, an interactive and fun way to practice for your upcoming behavioral interviews! This tool is designed to help you prepare for the non-technical aspects of job interviews, which are just as crucial as the technical ones. Enjoy and have fun!</p>
            
            <form method="post">
                <div class="question">
                    <h4>{{ chosen_row }}</h4>
                    <input type="hidden" name="question" value="{{ chosen_row }}">
                </div>
                <div class="answer">
                    <textarea id="answer" name="answer" rows="5" cols="50">Type your answer here!</textarea>
                    <br><br>
                </div>

                <button type="submit" name="action" value="submit_answer">Submit & Get Next Question</button>
                <button type="submit" name="action" value="download_answers" download_answers>Download Previous Questions & Answers</button>
            </form>
        </div> 
        <h5>https://github.com/claudiafarkas/interview_prep</h5> 
    </body>
</html>